<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue-task</title>
    <script src="js/vue.js"></script>
    <script type="text/javascript">
      var data = {
          title: '任务列表',
          task: {'state': 1, 'content': ''},
          todos:[
            {
              'state':2,
              'content': '任务0'
            },
            {
              'state':1,
              'content': '任务1'
            },
            {
              'state':1,
              'content': '任务2'
            }
          ]
      };
    </script>
    <style type="text/css">
      .done{
        text-decoration: line-through;
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
        <h1>{{title}}</h1>
        新任务：<input type='text' @keyup.enter='add' v-model='task.content'>
        <ol>
          <li 
            v-for='todo in todos'
            :class="todo.state == 2 ? 'done' : ''" @click='chgStage(todo)'>{{todo.content}}</li>
        </ol>
        
    </div>
  </body>
  <script type="text/javascript">
      var demo = new Vue({
          el: '#app',
          data: data,
          methods: {
            add: function(){
              this.todos.push(this.task);
              this.task = {'state': 1, 'content': ''};
            },
            chgStage: function (todo) {
              todo.state = todo.state == 2 ? 1 : 2;
            }
          }
      })
  </script>
</html>
